# Codebook

In [1]:
import os, glob, re
import pandas as pd

In [2]:
ptrn = os.path.join('.', 'data', '**', '*.txt')
data = pd.DataFrame(columns=['org', 'article', 'analysis', 'level', 'cell', 'code'])
rep = lambda s, n: [ s for i in range(n) ]
for fn in glob.iglob(ptrn, recursive=True):
    org, article, analysis = fn.split('/')[2:5]
    with open(fn, encoding='latin-1') as f:
        txt = f.read()
    txt = re.sub(r'([HL]L)', r'\n\1', txt)
    codes = re.findall(r'([HL]L)\s\[([^\]]+)\]\s([^\n]+)\n', txt)
    df = pd.DataFrame({
        'org': rep(org, len(codes)),
        'article': rep(article, len(codes)),
        'analysis': rep(analysis[22:-3] + 'pdf', len(codes)),
        'level': [ c[0] for c in codes ],
        'cell': [ c[1] for c in codes ],
        'code': [ c[2].strip() for c in codes ]
    })
    data = data.append(df)

data.head()

,org,article,analysis,level,cell,code
0,buzzfeednews,2019-04-democratic-candidate-codonors,analyze-campaign-codonors.html.pdf,HL,paragraph 1,Analyze government data
1,buzzfeednews,2019-04-democratic-candidate-codonors,analyze-campaign-codonors.html.pdf,HL,paragraph 1,Look for trends in quarterly data
2,buzzfeednews,2019-04-democratic-candidate-codonors,analyze-campaign-codonors.html.pdf,LL,2,Load political candidate data
3,buzzfeednews,2019-04-democratic-candidate-codonors,analyze-campaign-codonors.html.pdf,LL,4,Create reusable data wrangling subroutine
4,buzzfeednews,2019-04-democratic-candidate-codonors,analyze-campaign-codonors.html.pdf,LL,4,Import .fec (ASCII) file

Count the number of individual codes per article

In [3]:
data.groupby(['org', 'article'])['article'].count() \
    .to_frame('code counts') \
    .reset_index() \
    .sort_values('code counts', ascending=False)

            org                                    article  code counts
0  TheOregonian                          long-term-care-db           59
2      la_times                california-ccscore-analysis           41
1  buzzfeednews      2019-04-democratic-candidate-codonors           36
3      la_times  california-crop-production-wages-analysis           34
4      la_times                census-hard-to-map-analysis           11

Calculate the frequency of codes across articles

In [4]:
data.groupby(['level', 'code']).count()['org'] \
    .to_frame('count') \
    .sort_values(['level', 'count'], ascending=False) \
    .reset_index()

    level                                               code  count
0      LL                                       Peek at data      6
1      LL                                   Count total rows      3
2      LL                        Output intermediate results      3
3      LL                                Count total records      2
4      LL            Create plot, histogram with annotations      2
5      LL                        Export intermediate results      2
6      LL                            Find the maximum values      2
7      LL                 Subset dataset by explicit columns      2
8      LL                               Adjust for inflation      1
9      LL                               Adjust table display      1
10     LL      Aggregate data on categorical value and count      1
11     LL                                  Calculate average      1
12     LL                 Calculate difference between years      1
13     LL                     Calculate donors as proportion      1
14     LL                                  Calculate percent      1
15     LL           Calculate percent change for each group.      1
16     LL                               Calculate proportion      1
17     LL       Calculate summary statistics, percent change      1
18     LL  Calculate the donation total per candidate and...      1
19     LL                                  Calculate z-score      1
20     LL                Combine Excel sheets into one table      1
21     LL  Combine data with scraping results from a diff...      1
22     LL  Combine datasets with more data from another s...      1
23     LL                      Combine metadata with results      1
24     LL  Combine tables into master tables with distinc...      1
25     LL                   Combine two tabular data sources      1
26     LL     Compare record under different managing bodies      1
27     LL  Convert column to uppercase, possibly perform ...      1
28     LL                      Count donations per candidate      1
29     LL  Count donors that gave to multiple campaigns p...      1
..    ...                                                ...    ...
137    LL                    Slice column values by position      1
138    LL                           Standardize column names      1
139    LL  Strip periods, commas, and whitespace from column      1
140    LL         Subset data and rename column to lowercase      1
141    LL                     Subset data to relevant fields      1
142    LL  Subset dataset on specific columns and where c...      1
143    LL                Subset datasets by explicit columns      1
144    LL                 Subset the dataset by column names      1
145    LL        Trim column values of extraneous characters      1
146    LL                                    Uncompress data      1
147    LL  Update column values with semantically meaning...      1
148    LL                              Using government data      1
149    LL                         remove unnecessary columns      1
150    HL                            Analyze government data      1
151    HL                    Analyze monthly government data      1
152    HL                                      Analyze rates      1
153    HL                            Analyze wages over time      1
154    HL      Combine multiple tables into one master table      1
155    HL            Combine tabular and geospatial datasets      1
156    HL  Compare data from one source against another f...      1
157    HL                           Download government data      1
158    HL                              Find outliers in data      1
159    HL                        Group analysis by geography      1
160    HL                  Group data into different tables.      1
161    HL                  Look for trends in quarterly data      1
162    HL       Perform the same analysis on a different day      1
163    HL                          Prepare data for analysis      1
164    HL                            analyze government data      1
165    HL                       mung (wrangler) the raw data      1
166    HL  use government data Author: steph Subject: Hig...      1

[167 rows x 3 columns]