# Codebook

In [39]:
import os, glob, re
import pandas as pd

In [36]:
def cleanSummaries(summary):
    summary = re.sub(r'([HL]L:)', r'\n\1', summary)    
    summary = re.sub(r'([HL]L:\s+)\n', r'\1', summary)
    summary = re.sub(r'Number:\s\d', '', summary)    
    summary = re.sub(r'Subject: Highlight', '', summary)
    summary = re.sub(r'Author: steph', '', summary)
    summary = re.sub(r'Date:\s\d\d-\w+-\d\d\s\d\d?:\d\d:\d\d\s[AP]M', '', summary)
    return summary

In [42]:
ptrn = os.path.join('.', 'data', '**', '*.txt')
data = pd.DataFrame(columns=['org', 'article', 'analysis', 'level', 'code'])
rep = lambda s, n: [ s for i in range(n) ]
for fn in glob.iglob(ptrn, recursive=True):
    org, article, analysis = fn.split('/')[2:5]
    with open(fn, encoding='latin-1') as f:
        txt = cleanSummaries(f.read())
    codes = re.findall(r'[HL]L:[^\n]+', txt)
    df = pd.DataFrame({
        'org': rep(org, len(codes)),
        'article': rep(article, len(codes)),
        'analysis': rep(analysis, len(codes)),
        'level': [ c[0:2] for c in codes ],
        'code': [ c[4:] for c in codes ]
    })
    data = data.append(df)

data.head()

,org,article,analysis,level,code
0,buzzfeednews,2019-04-democratic-candidate-codonors,Summary of Comments on analyze-campaign-codono...,LL,Import CSV data
1,buzzfeednews,2019-04-democratic-candidate-codonors,Summary of Comments on analyze-campaign-codono...,LL,Import ASCII data
2,buzzfeednews,2019-04-democratic-candidate-codonors,Summary of Comments on analyze-campaign-codono...,HL,Convert ambiguous data to tabular format
3,buzzfeednews,2019-04-democratic-candidate-codonors,Summary of Comments on analyze-campaign-codono...,LL,Peak at data
4,buzzfeednews,2019-04-democratic-candidate-codonors,Summary of Comments on analyze-campaign-codono...,LL,"Join datasets, right"

In [55]:
data.groupby(['level', 'code']).count()['org'] \
    .to_frame('count') \
    .sort_values(['level', 'count'], ascending=False) \
    .reset_index()

    level                                               code  count
0      LL                                      Peak at data       8
1      LL                                  Peak at data           7
2      LL                                   Peak at data, 5       7
3      LL                               Count total records       6
4      LL                           Count total records           4
5      LL                         Create constant column          4
6      LL                                  Export data, CSV       4
7      LL                           Join datasets, union          4
8      LL                             Sort dataset, 1, DESC       4
9      LL                                Join dataset, left       3
10     LL    Calculate summary statistic, percent change          2
11     LL           Calculate summary statistic, percentage       2
12     LL             Convert column data type to string          2
13     LL                            Count total records          2
14     LL  Create new dimension from calculation on other...      2
15     LL  Create new dimension from calculation on other...      2
16     LL                         Group by column, 1, count       2
17     LL                           Group by column, 1, sum       2
18     LL                        Group by column, 1, sum          2
19     LL        Group by one column and sum one column           2
20     LL                                     Import CSV          2
21     LL                                  Import data, CSV       2
22     LL                                 Import data, CSV        2
23     LL                               Import data, CSV          2
24     LL                           Join datasets, inner          2
25     LL                                   Lookup value          2
26     LL                                     Peak at data        2
27     LL                                    Peak at data         2
28     LL                                   Peak at data          2
29     LL                                   Peak at dataset       2
..    ...                                                ...    ...
185    HL                                 Calculate z-score       1
186    HL          Convert ambiguous data to tabular format       1
187    HL                               Create a unique key       1
188    HL          Create table explicitly for whitelist          1
189    HL                                 Create unique ids       1
190    HL                               Create unique ids         1
191    HL                              Create unique ids          1
192    HL                                   Detrend dataset       1
193    HL                      Divide-process-and-merge           1
194    HL                                   Drop dirty data       1
195    HL                          Drop incomplete data           1
196    HL                           Environment, Python 2.7       1
197    HL                    Export intermediate results          1
198    HL                        Extract year from dates          1
199    HL                  Guard against double counting          1
200    HL      Import separate data spanning multiple years       1
201    HL  Locate duplicates by finding aggregate counts ...      1
202    HL  Manually select which columns to use in analysis       1
203    HL  Manually select which columns to use in analys...      1
204    HL  Merging three different, but thematically simi...      1
205    HL                              Normalize proportion       1
206    HL                            Parallel workflows           1
207    HL                           Plot data, histogram, 3       1
208    HL                           Plot data, histogram, 5       1
209    HL                  Plot histogram with annotations        1
210    HL               Plot histogram with annotations           1
211    HL                           Prevent double-counting       1
212    HL                        Python 2.7 environment           1
213    HL          Reduce dataset to relevant time frame          1
214    HL                 Union many tables into one table.       1

[215 rows x 3 columns]