# Codebook

In [74]:
import os, glob, re
import pandas as pd

In [82]:
def cleanSummaries(summary):
    summary = re.sub(r'([HL]L)', r'\n\1', summary)    
    #     summary = re.sub(r'([HL]L:\s+)\n', r'\1', summary)

#     summary = re.sub(r'Number:\s\d', '', summary)    
#     summary = re.sub(r'Subject: Highlight', '', summary)
#     summary = re.sub(r'Author: steph', '', summary)
#     summary = re.sub(r'Date:\s\d\d-\w+-\d\d\s\d\d?:\d\d:\d\d\s[AP]M', '', summary)
    return summary

In [94]:
ptrn = os.path.join('.', 'data', '**', '*.txt')
data = pd.DataFrame(columns=['org', 'article', 'analysis', 'level', 'cell', 'code'])
rep = lambda s, n: [ s for i in range(n) ]
for fn in glob.iglob(ptrn, recursive=True):
    org, article, analysis = fn.split('/')[2:5]
    with open(fn, encoding='latin-1') as f:
        txt = cleanSummaries(f.read())
#    print(txt)
    codes = re.findall(r'([HL]L)\s\[([^\]]+)\]\s([^\n]+)\n', txt)
#     codes = re.findall(r'[HL]L:[^\n]+', txt)
    df = pd.DataFrame({
        'org': rep(org, len(codes)),
        'article': rep(article, len(codes)),
        'analysis': rep(analysis[22:-3] + '.pdf', len(codes)),
        'level': [ c[0] for c in codes ],
        'cell': [ c[1] for c in codes ],
        'code': [ c[2].strip() for c in codes ]
    })
    data = data.append(df)

data.head()

,org,article,analysis,level,cell,code
0,buzzfeednews,2019-04-democratic-candidate-codonors,analyze-campaign-codonors.html,HL,paragraph 1,Analyze government data
1,buzzfeednews,2019-04-democratic-candidate-codonors,analyze-campaign-codonors.html,HL,paragraph 1,Look for trends in quarterly data
2,buzzfeednews,2019-04-democratic-candidate-codonors,analyze-campaign-codonors.html,LL,2,Load political candidate data
3,buzzfeednews,2019-04-democratic-candidate-codonors,analyze-campaign-codonors.html,LL,4,Create reusable data wrangling subroutine
4,buzzfeednews,2019-04-democratic-candidate-codonors,analyze-campaign-codonors.html,LL,4,Import .fec (ASCII) file

Count the number of individual codes per article

In [73]:
data.groupby(['org', 'article'])['article'].count() \
    .to_frame('code counts') \
    .reset_index() \
    .sort_values('code counts', ascending=False)

            org                                    article  code counts
1      la_times                california-ccscore-analysis          125
0  buzzfeednews      2019-04-democratic-candidate-codonors           58
3      la_times              california-h2a-visas-analysis           56
2      la_times  california-crop-production-wages-analysis           46
4      la_times                census-hard-to-map-analysis           20

Calculate the frequency of codes across articles

In [59]:
data.groupby(['level', 'code']).count()['org'] \
    .to_frame('count') \
    .sort_values(['level', 'count'], ascending=False) \
    .reset_index()

    level                                               code  count
0      LL                                      Peak at data      13
1      LL                                  Peak at data           7
2      LL                                   Peak at data, 5       7
3      LL                               Count total records       6
4      LL                           Count total records           4
5      LL                         Create constant column          4
6      LL                                  Export data, CSV       4
7      LL                           Join datasets, union          4
8      LL                             Sort dataset, 1, DESC       4
9      LL                                Import data, Excel       3
10     LL                                Join dataset, left       3
11     LL    Calculate summary statistic, percent change          2
12     LL           Calculate summary statistic, percentage       2
13     LL             Convert column data type to string          2
14     LL                            Count total records          2
15     LL  Create new dimension from calculation on other...      2
16     LL  Create new dimension from calculation on other...      2
17     LL               Group by column and count frequency       2
18     LL                         Group by column, 1, count       2
19     LL                           Group by column, 1, sum       2
20     LL                        Group by column, 1, sum          2
21     LL        Group by one column and sum one column           2
22     LL                                     Import CSV          2
23     LL                                  Import data, CSV       2
24     LL                                 Import data, CSV        2
25     LL                               Import data, CSV          2
26     LL                           Join datasets, inner          2
27     LL                                   Lookup value          2
28     LL                                     Peak at data        2
29     LL                                    Peak at data         2
..    ...                                                ...    ...
196    HL                                 Calculate z-score       1
197    HL          Convert ambiguous data to tabular format       1
198    HL                               Create a unique key       1
199    HL          Create table explicitly for whitelist          1
200    HL                                 Create unique ids       1
201    HL                               Create unique ids         1
202    HL                              Create unique ids          1
203    HL                                   Detrend dataset       1
204    HL                      Divide-process-and-merge           1
205    HL                                   Drop dirty data       1
206    HL                          Drop incomplete data           1
207    HL                           Environment, Python 2.7       1
208    HL                    Export intermediate results          1
209    HL                        Extract year from dates          1
210    HL                  Guard against double counting          1
211    HL      Import separate data spanning multiple years       1
212    HL  Locate duplicates by finding aggregate counts ...      1
213    HL  Manually select which columns to use in analysis       1
214    HL  Manually select which columns to use in analys...      1
215    HL  Merging three different, but thematically simi...      1
216    HL                              Normalize proportion       1
217    HL                            Parallel workflows           1
218    HL                           Plot data, histogram, 3       1
219    HL                           Plot data, histogram, 5       1
220    HL                  Plot histogram with annotations        1
221    HL               Plot histogram with annotations           1
222    HL                           Prevent double-counting       1
223    HL                        Python 2.7 environment           1
224    HL          Reduce dataset to relevant time frame          1
225    HL                 Union many tables into one table.       1

[226 rows x 3 columns]